* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  background: linear-gradient(320deg, #102126 0%, rgba(35, 40, 44, 0.90) 100%) no-repeat;
  height: 100vh;
}

button, select, textarea, input {
  font-family: 'Mulish', sans-serif;
}

.title {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#header-wrapper {
  padding: 56px 24px;
  background-color: #222;
  border-radius: 16px;
}

.search {
  width: 100%;
  height: 48px;
  max-width: 220px;
  padding: 16px 32px;
  border-radius: 8px;
  background: #778598;
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.15);
  color: #111;
  font-size: 14px;
}

.search::placeholder {
  color: #111;
}

#categories {
  display: flex;
  list-style: none;
  gap: 24px;
}


#categories a {
  color: #818D9F;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;  
}

#categories a:hover::after {
  content: '';
  width: calc(100% - 2px);
  height: 3px;
  background: #FF9A00;
  position: absolute;
  left: 1px;
  bottom: 0;
  margin-top: 4px;
}